@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.pac-container {
  min-width: 300px !important;
  max-width: 90vw !important;
  font-size: 16px !important;
  z-index: 9999 !important;
}

.pac-item {
  padding: 8px 12px !important;
  white-space: normal !important;
}

.pac-item-query {
  font-size: 16px !important;
}
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}